<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../../css/aos.css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../css/next-sidebar.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../svg/favicon.svg" type="image/gif" sizes="16x16">
    <title>Ecommerce Dashboard</title>
</head>
<body class="app">


    <!-- Start Sidebar -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="d-flex align-items-center flex-nowrap">
                    <a class="sidebar-link text-decoration-none" href="#">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="logo-sm">
                                <div class="logo d-flex align-items-center justify-content-center">
                                    Logo
                                </div>
                            </div>
                            <div class="logo-text d-flex align-items-center justify-content-center">
                                Logo
                            </div>
                        </div>
                    </a>
                    <div class="">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="#" class="text-decoration-none">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="sidebar-menu scrollable position-relative pt-3">
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="../../index.html">
                        <span class="icon-holder">
                            <i class="fas fa-home"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-code"></i>
                        </span>
                        <span class="title">Apps</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../apps/contact.html">Contact</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/email.html">Email</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/file_manger.html">File Manger</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-server"></i>
                        </span>
                        <span class="title">Components</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../components/accordion.html">Accordion</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/alert.html">Alert</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/badge.html">Badge</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/button.html">Buttons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/icons.html">Icons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/modal.html">Modal</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/pageination.html">Pageinations</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/progress.html">Progress</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/spinners.html">Spinners</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/toasts.html">Toasts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="far fa-folder-open"></i>
                        </span>
                        <span class="title">Pages</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../pages/404.html">404</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/500.html">500</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/login.html">Login</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/register.html">Register</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/price.html">Price</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/blank.html">Blank</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/invoice.html">Invoice</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-fingerprint"></i>
                        </span>
                        <span class="title">Plugins</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../plugins/editor.html">Editor</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../plugins/mixitup.html">Mixitup</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-paragraph"></i>
                        </span>
                        <span class="title">Form</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../form/formElements.html">Form Element</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formLayout.html">Form Layout</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formValidation.html">Form Validation</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="../charts/charts.html">
                        <span class="icon-holder">
                            <i class="fas fa-chart-pie"></i>
                        </span>
                        <span class="title">Charts</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-folder-plus"></i>
                        </span>
                        <span class="title">Multiple Levels</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">
                            <span>Menu Item</span>
                        </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">
                                <span class="title">Menu Items</span>
                                <span class="arrow">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Sidebar -->

    <!-- Start Navbar -->
    <div class="container-wide">
        <nav class="navbar navbar-expand navbar-light">
            <div class="container">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a id="sidebar-toggle" class="sidebar-toggle nav-link" href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Left</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="openCanvas">

                        <a class="nav-link" href="#">
                            <i class="fas fa-th"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-comment-dots"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->

    <!-- Start OffCanvas -->
    <div class="offCanvas">
        <div class="title">
            <h5>Activity Log</h5>
        </div>
        <div class="close" id="closeCanvas">
            <i class="fas fa-times"></i>
        </div>
        <div class="card">
            <div class="card-header">
                Lorem ipsum dolor sit.
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga necessitatibus nam perspiciatis pariatur iure aliquam accusantium aperiam, 
                    amet deleniti nihil voluptas a architecto veritatis praesentium dicta autem aut qui eum.
                </p>
            </div>
        </div>
    </div>
    <!-- End OffCanvas -->

    <!-- Start Alert -->

    <section style="padding: 0 0 40px 0">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <h5>Default</h5>
                    <p>
                        Alerts are available for any length of text, as well as an optional dismiss button.
                        For proper styling, use one of the eight required contextual classes.
                        <code>(e.g., .alert-success).</code>
                    </p>
                    <div class="alert alert-primary" role="alert">
                        A simple primary alert—check it out!
                      </div>
                      <div class="alert alert-secondary" role="alert">
                        A simple secondary alert—check it out!
                      </div>
                      <div class="alert alert-success" role="alert">
                        A simple success alert—check it out!
                      </div>
                      <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                      </div>
                      <div class="alert alert-warning" role="alert">
                        A simple warning alert—check it out!
                      </div>
                      <div class="alert alert-info" role="alert">
                        A simple info alert—check it out!
                      </div>
                      <div class="alert alert-light" role="alert">
                        A simple light alert—check it out!
                      </div>
                      <div class="alert alert-dark" role="alert">
                        A simple dark alert—check it out!
                      </div>
                </div>
                <div class="col-md-6">
                    <h5>SVG</h5>
                    <p>
                        Need more than one icon for your alerts?
                        Consider using more Bootstrap Icons and making a local SVG sprite like so to easily reference the same icons repeatedly.
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </symbol>
                    </svg>
                  
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                        <div>
                        An example alert with an icon
                        </div>
                    </div>
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                        <div>
                        An example success alert with an icon
                        </div>
                    </div>
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                        An example warning alert with an icon
                        </div>
                    </div>
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                        An example danger alert with an icon
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-3">
                    <h5>Additional Content</h5>
                    <p>Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                        <hr>
                        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Alert -->

    <!-- JS Scripts -->
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../../js/perfect-scrollbar.min.js"></script>
    <script src="../../js/next-sidebar.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>