<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../../css/aos.css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../css/next-sidebar.css">
    <link rel="stylesheet" href="../../css/testStyle.css">
    <title>Aos Page</title>
</head>
<body class="app">


    <!-- Start Sidebar -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="d-flex align-items-center flex-nowrap">
                    <a class="sidebar-link text-decoration-none" href="#">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="logo-sm">
                                <div class="logo d-flex align-items-center justify-content-center">
                                    Logo
                                </div>
                            </div>
                            <div class="logo-text d-flex align-items-center justify-content-center">
                                Logo
                            </div>
                        </div>
                    </a>
                    <div class="">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="#" class="text-decoration-none">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="sidebar-menu scrollable position-relative pt-3">
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="../../index.html">
                        <span class="icon-holder">
                            <i class="fas fa-home"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-code"></i>
                        </span>
                        <span class="title">Apps</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../apps/contact.html">Contact</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/email.html">Email</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/file_manger.html">File Manger</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-server"></i>
                        </span>
                        <span class="title">Components</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../components/accordion.html">Accordion</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/alert.html">Alert</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/badge.html">Badge</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/button.html">Buttons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/icons.html">Icons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/modal.html">Modal</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/pageination.html">Pageinations</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/progress.html">Progress</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/spinners.html">Spinners</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/toasts.html">Toasts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="far fa-folder-open"></i>
                        </span>
                        <span class="title">Pages</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../pages/404.html">404</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/500.html">500</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/login.html">Login</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/register.html">Register</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/price.html">Price</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/blank.html">Blank</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/invoice.html">Invoice</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-fingerprint"></i>
                        </span>
                        <span class="title">Plugins</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../plugins/editor.html">Editor</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../plugins/mixitup.html">Mixitup</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-paragraph"></i>
                        </span>
                        <span class="title">Form</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../form/formElements.html">Form Element</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formLayout.html">Form Layout</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formValidation.html">Form Validation</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="../charts/charts.html">
                        <span class="icon-holder">
                            <i class="fas fa-chart-pie"></i>
                        </span>
                        <span class="title">Charts</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-folder-plus"></i>
                        </span>
                        <span class="title">Multiple Levels</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">
                            <span>Menu Item</span>
                        </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">
                                <span class="title">Menu Items</span>
                                <span class="arrow">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Sidebar -->

    <!-- Start Navbar -->
    <div class="container-wide">
        <nav class="navbar navbar-expand navbar-light">
            <div class="container">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a id="sidebar-toggle" class="sidebar-toggle nav-link" href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Left</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="openCanvas">

                        <a class="nav-link" href="#">
                            <i class="fas fa-th"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-comment-dots"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->

    <!-- Start OffCanvas -->
    <div class="offCanvas">
        <div class="title">
            <h5>Activity Log</h5>
        </div>
        <div class="close" id="closeCanvas">
            <i class="fas fa-times"></i>
        </div>
        <div class="card">
            <div class="card-header">
                Lorem ipsum dolor sit.
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga necessitatibus nam perspiciatis pariatur iure aliquam accusantium aperiam, 
                    amet deleniti nihil voluptas a architecto veritatis praesentium dicta autem aut qui eum.
                </p>
            </div>
        </div>
    </div>
    <!-- End OffCanvas -->

    <!-- Start Icons -->

    <section style="padding: 0 0 40px 0;">
        <div class="container">
            <div class="title">
                <h5>Font Awesome</h5>
                <p>
                    Get vector icons and social logos on your website with Font Awesome,
                    the web's most popular icon set and toolkit. Visit FontAwesome's Official Website for a complete list of icons.
                </p>
            </div>
            <div class="icons my-4">
                <div class="row">
                    <div class="col-md-1">
                        <i class="fab fa-accessible-icon fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-address-book fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-align-justify fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-adversal fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-american-sign-language-interpreting fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-angular fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apper fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apple fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-arrow-circle-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-balance-scale-left fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-ban fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bath fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-1">
                        <i class="fas fa-battery-empty fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bone fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-buffer fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-calendar-week fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-caret-square-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-chart-area fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-clipboard-check fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-closed-captioning fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cocktail fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cog fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-concierge-bell fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-creative-commons-nc-eu fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fab fa-accessible-icon fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-address-book fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-align-justify fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-adversal fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-american-sign-language-interpreting fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-angular fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apper fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apple fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-arrow-circle-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-balance-scale-left fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-ban fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bath fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-1">
                        <i class="fas fa-battery-empty fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bone fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-buffer fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-calendar-week fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-caret-square-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-chart-area fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-clipboard-check fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-closed-captioning fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cocktail fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cog fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-concierge-bell fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-creative-commons-nc-eu fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fab fa-accessible-icon fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-address-book fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-align-justify fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-adversal fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-american-sign-language-interpreting fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-angular fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apper fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apple fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-arrow-circle-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-balance-scale-left fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-ban fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bath fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-1">
                        <i class="fas fa-battery-empty fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bone fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-buffer fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-calendar-week fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-caret-square-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-chart-area fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-clipboard-check fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-closed-captioning fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cocktail fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cog fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-concierge-bell fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-creative-commons-nc-eu fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fab fa-accessible-icon fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-address-book fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-align-justify fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-adversal fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-american-sign-language-interpreting fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-angular fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apper fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apple fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-arrow-circle-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-balance-scale-left fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-ban fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bath fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-1">
                        <i class="fas fa-battery-empty fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bone fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-buffer fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-calendar-week fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-caret-square-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-chart-area fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-clipboard-check fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-closed-captioning fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cocktail fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cog fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-concierge-bell fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-creative-commons-nc-eu fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fab fa-accessible-icon fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-address-book fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-align-justify fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-adversal fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-american-sign-language-interpreting fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-angular fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apper fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-apple fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-arrow-circle-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-balance-scale-left fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-ban fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bath fa-2x"></i>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-1">
                        <i class="fas fa-battery-empty fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-bone fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-buffer fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-calendar-week fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-caret-square-right fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-chart-area fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-clipboard-check fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-closed-captioning fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cocktail fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-cog fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-concierge-bell fa-2x"></i>
                    </div>
                    <div class="col-md-1">
                        <i class="fab fa-creative-commons-nc-eu fa-2x"></i>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>
    
    <!-- End Icons -->


    <!-- JS Scripts -->
    <script src="../../js/aos.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../../js/charts.js"></script>
    <script src="../../js/perfect-scrollbar.min.js"></script>
    <script src="../../js/next-sidebar.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../js/main.js"></script>
</body>
</html>