<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../../css/aos.css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../css/next-sidebar.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../svg/favicon.svg" type="image/gif" sizes="16x16">
    <title>Ecommerce Dashboard</title>
</head>
<body class="app">


    <!-- Start Sidebar -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="d-flex align-items-center flex-nowrap">
                    <a class="sidebar-link text-decoration-none" href="#">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="logo-sm">
                                <div class="logo d-flex align-items-center justify-content-center">
                                    Logo
                                </div>
                            </div>
                            <div class="logo-text d-flex align-items-center justify-content-center">
                                Logo
                            </div>
                        </div>
                    </a>
                    <div class="">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="#" class="text-decoration-none">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="sidebar-menu scrollable position-relative pt-3">
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="../../index.html">
                        <span class="icon-holder">
                            <i class="fas fa-home"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-code"></i>
                        </span>
                        <span class="title">Apps</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../apps/contact.html">Contact</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/email.html">Email</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/file_manger.html">File Manger</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-server"></i>
                        </span>
                        <span class="title">Components</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../components/accordion.html">Accordion</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/alert.html">Alert</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/badge.html">Badge</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/button.html">Buttons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/icons.html">Icons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/modal.html">Modal</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/pageination.html">Pageinations</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/progress.html">Progress</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/spinners.html">Spinners</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/toasts.html">Toasts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="far fa-folder-open"></i>
                        </span>
                        <span class="title">Pages</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../pages/404.html">404</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/500.html">500</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/login.html">Login</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/register.html">Register</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/price.html">Price</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/blank.html">Blank</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/invoice.html">Invoice</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-fingerprint"></i>
                        </span>
                        <span class="title">Plugins</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../plugins/editor.html">Editor</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../plugins/mixitup.html">Mixitup</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-paragraph"></i>
                        </span>
                        <span class="title">Form</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../form/formElements.html">Form Element</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formLayout.html">Form Layout</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formValidation.html">Form Validation</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="../charts/charts.html">
                        <span class="icon-holder">
                            <i class="fas fa-chart-pie"></i>
                        </span>
                        <span class="title">Charts</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-folder-plus"></i>
                        </span>
                        <span class="title">Multiple Levels</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">
                            <span>Menu Item</span>
                        </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">
                                <span class="title">Menu Items</span>
                                <span class="arrow">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Sidebar -->

    <!-- Start Navbar -->
    <div class="container-wide">
        <nav class="navbar navbar-expand navbar-light">
            <div class="container">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a id="sidebar-toggle" class="sidebar-toggle nav-link" href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Left</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="openCanvas">

                        <a class="nav-link" href="#">
                            <i class="fas fa-th"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-comment-dots"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->

    <!-- Start OffCanvas -->
    <div class="offCanvas">
        <div class="title">
            <h5>Activity Log</h5>
        </div>
        <div class="close" id="closeCanvas">
            <i class="fas fa-times"></i>
        </div>
        <div class="card">
            <div class="card-header">
                Lorem ipsum dolor sit.
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga necessitatibus nam perspiciatis pariatur iure aliquam accusantium aperiam, 
                    amet deleniti nihil voluptas a architecto veritatis praesentium dicta autem aut qui eum.
                </p>
            </div>
        </div>
    </div>
    <!-- End OffCanvas -->

    <!-- Start Modal -->
    <section style="padding: 0 0 40px 0;">
        <div class="container">
            <!-- First Modal -->
            <h5 class="my-3">Live demo</h5>
            <p>Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    This Is a Modal !
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- Second Modal -->
            <h5 class="my-3">Static backdrop</h5>
            <p>When backdrop is set to static, the modal will not close when clicking outside it. Click the button below to try it.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Launch static backdrop modal
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        This is a Static Backdrop modal
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="my-3">Toggle between modals</h5>
            <p>
                Toggle between multiple modals with some clever placement of the <code>data-bs-target</code> and <code>data-bs-toggle</code> attributes. For example, you could toggle a password reset modal from within an already open sign in modal.
                Please note multiple modals cannot be open at the same time—this method simply toggles between two separate modals.
            </p>
            <!-- Toggle Bettwen Modals -->
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Show a second modal and hide this one with the button below.
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Hide this modal and show the first with the button below.
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
                    </div>
                  </div>
                </div>
            </div>
            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
        </div>
    </section>
    <!-- End Modal -->

    <!-- JS Scripts -->
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/perfect-scrollbar.min.js"></script>
    <script src="../../js/next-sidebar.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>