<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../../css/aos.css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../css/next-sidebar.css">
    <link rel="stylesheet" href="../../css/testStyle.css">
    <title>Aos Page</title>
</head>
<body class="app">


    <!-- Start Sidebar -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="d-flex align-items-center flex-nowrap">
                    <a class="sidebar-link text-decoration-none" href="#">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="logo-sm">
                                <div class="logo d-flex align-items-center justify-content-center">
                                    Logo
                                </div>
                            </div>
                            <div class="logo-text d-flex align-items-center justify-content-center">
                                Logo
                            </div>
                        </div>
                    </a>
                    <div class="">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="#" class="text-decoration-none">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="sidebar-menu scrollable position-relative pt-3">
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="../../index.html">
                        <span class="icon-holder">
                            <i class="fas fa-home"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-code"></i>
                        </span>
                        <span class="title">Apps</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../apps/contact.html">Contact</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/email.html">Email</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../apps/file_manger.html">File Manger</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-server"></i>
                        </span>
                        <span class="title">Components</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../components/accordion.html">Accordion</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/alert.html">Alert</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/badge.html">Badge</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/button.html">Buttons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/icons.html">Icons</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/modal.html">Modal</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/pageination.html">Pageinations</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/progress.html">Progress</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/spinners.html">Spinners</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../components/toasts.html">Toasts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect" href="#">
                        <span class="icon-holder">
                            <i class="far fa-folder-open"></i>
                        </span>
                        <span class="title">Pages</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../pages/404.html">404</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/500.html">500</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/login.html">Login</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/register.html">Register</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/price.html">Price</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/blank.html">Blank</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../pages/invoice.html">Invoice</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-fingerprint"></i>
                        </span>
                        <span class="title">Plugins</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../plugins/editor.html">Editor</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../plugins/mixitup.html">Mixitup</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-paragraph"></i>
                        </span>
                        <span class="title">Form</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="sidebar-link" href="../form/formElements.html">Form Element</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formLayout.html">Form Layout</a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="../form/formValidation.html">Form Validation</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link wave-effect dropdown-toggle" href="../charts/charts.html">
                        <span class="icon-holder">
                            <i class="fas fa-chart-pie"></i>
                        </span>
                        <span class="title">Charts</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="fas fa-folder-plus"></i>
                        </span>
                        <span class="title">Multiple Levels</span>
                        <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">
                            <span>Menu Item</span>
                        </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">
                                <span class="title">Menu Items</span>
                                <span class="arrow">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                                <li>
                                    <a href="#">Menu Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Sidebar -->

    <!-- Start Navbar -->
    <div class="container-wide">
        <nav class="navbar navbar-expand navbar-light">
            <div class="container">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a id="sidebar-toggle" class="sidebar-toggle nav-link" href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Left</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="openCanvas">

                        <a class="nav-link" href="#">
                            <i class="fas fa-th"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-comment-dots"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">else here</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->

    <!-- Start OffCanvas -->
    <div class="offCanvas">
        <div class="title">
            <h5>Activity Log</h5>
        </div>
        <div class="close" id="closeCanvas">
            <i class="fas fa-times"></i>
        </div>
        <div class="card">
            <div class="card-header">
                Lorem ipsum dolor sit.
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga necessitatibus nam perspiciatis pariatur iure aliquam accusantium aperiam, 
                    amet deleniti nihil voluptas a architecto veritatis praesentium dicta autem aut qui eum.
                </p>
            </div>
        </div>
    </div>
    <!-- End OffCanvas -->

    <!-- Start pageination -->

    <section style="padding: 0 0 40px 0;">
        <div class="container">
            <h5>Overview</h5>
            <p>
                We use a large block of connected links for our pagination, making links hard to miss and easily <code>scalable—all</code> while providing large hit areas. Pagination is built with list HTML elements so screen readers can announce the number of available links.
                Use a wrapping <code>nav</code> element to identify it as a navigation section to screen readers and other assistive technologies.
                In addition, as pages likely have more than one such navigation section,
                it’s advisable to provide a descriptive aria-label for the <code>nav</code> to reflect its purpose.
                For example, if the pagination component is used to navigate between a set of search results,
                an appropriate label could be <code>aria-label="Search results pages"</code>.
            </p>
            <div class="First">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            <h5>Working with icons</h5>
            <p>
                Looking to use an icon or symbol in place of text for some pagination links? Be sure to provide proper screen reader support with <code>aria</code> attributes.
            </p>
            <div class="second">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                </nav>
            </div>
            <h5>Disabled and active states</h5>
            <p>
                Pagination links are customizable for different circumstances. Use <code>.disabled</code> for links that appear un-clickable and <code>.active</code> to indicate the current page.
                While the <code>.disabled</code> class uses <code>pointer-events: none</code> to try to disable the link functionality of a attributes s, that CSS property is not yet standardized and doesn’t account for keyboard navigation. As such, you should always add <code>tabindex="-1"</code> on disabled links and use custom JavaScript to fully disable their functionality.
            </p>
            <div class="third">
                <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- End pageination -->

    <!-- JS Scripts -->
    <script src="../../js/aos.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../../js/charts.js"></script>
    <script src="../../js/perfect-scrollbar.min.js"></script>
    <script src="../../js/next-sidebar.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../js/main.js"></script>
</body>
</html>